@import "./src/assets/styles/theme";

#header{
  height: 54px;
  padding: 10px;
  background: $header-background;
  color: $header-color;
  display: flex;

  .logo{
    height: 30px;
    float: left;
  }

  .btn-checkout{
    background-color: $button-header-color;
    margin-left: auto;
  }

  .nav-item {
    margin-top: 4px;
    margin-left: 10px;
    color: $header-color;

    :hover{
      text-decoration: none;
    }
  }
}
